{% extends "common/base.html" %}

{% block content %}
  <main class="d-flex justify-content-center align-items-center h-100 min-h-screen min-vw-100">
    <div class="card">
      <div class="card-body p-5">
        <h2 class="text-center mb-5">Únete a Audita</h2>
        <div class="row gap-3 justify-content-evenly">
          <a href="{% url 'login' %}" class="btn btn-primary px-5">Iniciar Sesión</a>
          <a href="{% url 'signup' %}" class="btn btn-primary px-5">Crear Cuenta</a>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}
